# Auto detect text files and perform LF normalization
* text=auto
* text=Esta serie de tv es algo muy entretenido porque, expone varios temas de interesés para cualquier persona, ya sean cómicos o informativos.
* text= Agrega varios contenidos como: material informativo📝 historia 🗺️ materiales cómicos 🤗 información sobre el espacio exterior 🚀 y material recreativo 🎮
!(https://static.nationalgeographicla.com/files/styles/image_3200/public/mm9279_ctf018-12203.jpg?w=1900&h=1267)
!(https://static.nationalgeographicla.com/files/styles/image_3200/public/ngsf000003_190803_100592.jpg?w=710&h=475)
* text= Página principal: https://www.nationalgeographicla.com/

